@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  direction: rtl;
}
body {
  background: #fefbf2;
  /* background: url("/images/bg.png"); */
  /* background: radial-gradient(circle, rgba(18, 11, 4, 1) 21%, rgba(27, 16, 5, 1) 75%, rgba(32, 19, 5, 1) 91%, rgba(38, 22, 6, 1) 100%); */
}

.bg-hero {
  background: #fefbf2;
  /* background: radial-gradient(circle, rgba(18, 11, 4, 1) 21%, rgba(27, 16, 5, 1) 75%, rgba(32, 19, 5, 1) 91%, rgba(38, 22, 6, 1) 100%); */
}
.bg-footer {
  background: url("/images/1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@theme {
  --color-background: #fefbf2;
  --color-foreground: #4a4a4a;

  --color-primary: #abc4a1;
  /* --color-primary: #485733; */
  --color-primary-foreground: #ffffff;

  --color-secondary: #e9b643;
  --color-secondary-foreground: #ffffff;

  /* --color-destructive: oklch(60% 0.15 25);
  --color-destructive-foreground: oklch(95% 0 0);

  --color-muted: oklch(95% 0 0);
  --color-muted-foreground: #fbefd8ce;

  --color-accent: oklch(95% 0 0);
  --color-accent-foreground: oklch(25% 0 0);

  --color-popover: 0% 0% 100%;
  --color-popover-foreground: oklch(25% 0 0);

  --color-card: #23180d;
  --color-card-foreground: #fbefd8; */
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@theme {
  --font-vazir: "Vazirmatn", system-ui, sans-serif;
}

@layer components {
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* برای IE و Edge */
  scrollbar-width: none; /* برای Firefox */
}

.img-flip {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.blog-content h3 {
  @apply text-primary-foreground text-center lg:text-right text-xl md:text-2xl lg:text-3xl font-vazir font-semibold my-5;
}
.blog-content p {
  @apply text-sm text-primary-foreground font-vazir w-full  leading-10 text-center lg:text-right;
}
.blog-content ul li {
  @apply text-sm text-primary-foreground font-vazir w-full  leading-10 text-center lg:text-right px-3;
}
.blog-content p {
  @apply text-sm text-primary-foreground font-vazir w-full  leading-10 text-center lg:text-right;
}
